body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#custom {
  background-color: white;
  border-color: white;
  padding: 0;
  margin: 0.5rem 1rem 0;
  height: 33px;
  width: 33px;
}

#icon {
  height: 2rem;
  width: 2rem;
  /* padding: 0 auto 0 auto; */
}

#card-field {
  overflow: hidden;
}

.title {
  font-size: 2rem !important;
}

#charge-select {
  width: auto;
}

.eq-input-text {
  display: inline-block !important;
  width: 2rem;
}